In [1]:
import pandas as pd
import numpy as np

In [2]:
#Load data
mypath = "data/NTSB"
Occurrences = pd.read_csv(mypath+'/Occurrences.csv')
sequence = pd.read_csv(mypath+'/seq_of_events.csv')
aircraft = pd.read_csv(mypath+'/aircraft.csv')
events = pd.read_csv(mypath+'/events.csv')
dataDict = pd.read_csv(mypath+'/eADMSPUB_DataDictionary.csv')
# select key columns
events_select = events[['ev_id','ev_highest_injury','ev_year']]
aircraft_select = aircraft[['ev_id', 'Aircraft_Key', 'damage']]
Occurrences_select = Occurrences[['ev_id', 'Aircraft_Key', 'Occurrence_No', 'Occurrence_Code',
       'Phase_of_Flight']]
sequence_select = sequence[['ev_id', 'Aircraft_Key', 'Occurrence_No','seq_event_no','Subj_Code']]
# Merge tables according to event id, occurrence number, aircraft id
merge_buffer = pd.merge(Occurrences_select, sequence_select, on=['ev_id', 'Aircraft_Key', 'Occurrence_No'])
merge_buffer = pd.merge(merge_buffer, aircraft_select, on=['ev_id', 'Aircraft_Key'])
data = pd.merge(merge_buffer, events_select, on=['ev_id'])
data.head(10)

,ev_id,Aircraft_Key,Occurrence_No,Occurrence_Code,Phase_of_Flight,seq_event_no,Subj_Code,damage,ev_highest_injury,ev_year
0,20001204X00000,1,1,350,560,1,14004,SUBS,MINR,1999
1,20001204X00000,1,1,350,560,2,30000,SUBS,MINR,1999
2,20001204X00000,1,1,350,560,3,84110,SUBS,MINR,1999
3,20001204X00000,1,3,320,574,1,19200,SUBS,MINR,1999
4,20001204X00000,1,3,320,574,2,20200,SUBS,MINR,1999
5,20001204X00001,1,1,130,572,1,15805,MINR,NONE,1999
6,20001204X00001,1,1,130,572,2,24121,MINR,NONE,1999
7,20001204X00001,1,1,130,572,3,90200,MINR,NONE,1999
8,20001204X00001,1,1,130,572,4,20000,MINR,NONE,1999
9,20001204X00001,1,1,130,572,5,20000,MINR,NONE,1999

In [3]:
# Find definition from dictionary
dataDict[dataDict.code_iaids.isin(["350", "560", "14004"])]

,Category of Data,Table,Column,ct_name,code_iaids,meaning,Data Type eADMS,Length eADMS,short_desc,Question_Def,Code meaning,typeofchange,Change_notes
195,eADMS Data,aircraft,phase_flt_spec,ct_phase_flt_spec,560,Approach,int,NaN,Specific Phase of Flight,Rather than getting phase of flight from this ...,NaN,NaN,NaN
1002,Pre eADMS coding,Occurrences,Phase_of_Flight,NaN,560,Approach,int,NaN,Phase of Flight,All occurrences include information about the ...,NaN,NaN,NaN
2706,Pre eADMS coding,Occurrences,Occurrence_Code,NaN,350,Loss of engine power,int,NaN,Type of Occurrence,Multiple occurrences can be used to describe a...,NaN,NaN,NaN
3447,Pre eADMS coding,seq_of_events,Subj_Code,NaN,14004,"Engine assembly, crankshaft",int,NaN,Subject Code,Sequence of Events subject codes are used to i...,NaN,NaN,NaN

In [4]:
data['damage'].value_counts()

SUBS    181327
DEST     75470
MINR      6131
NONE      4270
UNK         21
Name: damage, dtype: int64

In [5]:
data['ev_highest_injury'].value_counts()

NONE    135057
FATL     60773
MINR     40293
SERS     31052
UNKN         2
Name: ev_highest_injury, dtype: int64

In [6]:
data['Phase_of_Flight'].value_counts().head(5)

572    37162
571    26779
522    26714
580    19884
540    17749
Name: Phase_of_Flight, dtype: int64

In [7]:
#WITH '000' and '999'
data_event = data.dropna().copy()
occurrence_code_corpus = ['000','999'] + [str(x) for x in set(data_event['Occurrence_Code'])] +['']
subject_code_corpus = ['000','999'] + [str(x) for x in set(data_event['Subj_Code'])] +['']
phase_code_corpus = ['000','999'] + [str(x) for x in set(data_event['Phase_of_Flight'])] +['']
occurrence_list = data_event.loc[:,'Occurrence_Code'].astype(str)
phase_list = data_event.loc[:,'Phase_of_Flight'].astype(str)
subject_list = data_event.loc[:,'Subj_Code'].astype(str)

data_event.loc[:,'Phase_of_Flight'] = [phase_code_corpus.index(x) for x in phase_list]
data_event.loc[:,'Occurrence_Code'] = [occurrence_code_corpus.index(x) for x in occurrence_list]
data_event.loc[:,'Subj_Code'] = [subject_code_corpus.index(x) for x in subject_list]
data_group = data_event.groupby(['ev_id','Aircraft_Key'])[['Occurrence_No','Occurrence_Code','Phase_of_Flight','Subj_Code','damage','ev_highest_injury']].agg(lambda x: x.tolist()).reset_index()

data_group['damage'] = [x[0] for x in data_group['damage']]
data_group['ev_highest_injury'] = [x[0] for x in data_group['ev_highest_injury']]
data_group = data_group[data_group['damage'] != 'UNK ']
data_group = data_group[data_group['damage'] != 'NONE']
data_group.loc[data_group['damage'] == 'SUBS', 'damage'] = 1
data_group.loc[data_group['damage'] == 'MINR', 'damage'] = 0
data_group.loc[data_group['damage'] == 'DEST', 'damage'] = 2
data_group.head(3)

,ev_id,Aircraft_Key,Occurrence_No,Occurrence_Code,Phase_of_Flight,Subj_Code,damage,ev_highest_injury
0,20001204X00000,1,"[1, 1, 1, 3, 3]","[40, 40, 40, 27, 27]","[20, 20, 20, 34, 34]","[912, 865, 438, 620, 703]",1,MINR
1,20001204X00001,1,"[1, 1, 1, 1, 1, 2]","[3, 3, 3, 3, 3, 19]","[32, 32, 32, 32, 32, 3]","[1239, 1316, 63, 692, 692, 1013]",0,NONE
2,20001204X00002,1,"[1, 1]","[24, 24]","[3, 3]","[703, 1262]",1,NONE

In [10]:
for x in data_group.index:
    data_group.at[x,'Occurrence_Code'] = [0] + data_group.loc[x,'Occurrence_Code'] + [1]
    data_group.at[x,'Phase_of_Flight'] = [0] + data_group.loc[x,'Phase_of_Flight'] + [1]
    data_group.at[x,'Subj_Code'] = [0] + data_group.loc[x,'Subj_Code'] + [1]


buffer = data_event.drop_duplicates(["Occurrence_Code", "Subj_Code"])
occurrence_to_subj = buffer.groupby(['Occurrence_Code'])['Subj_Code'].agg(lambda x: x.tolist()).reset_index()
occurrence_to_subj['len'] = [len(x) for x in occurrence_to_subj['Subj_Code']]
occurrence_to_subj = pd.concat([pd.DataFrame({'Occurrence_Code':[1],'Subj_Code':[1],'len':[1]}), occurrence_to_subj]).reset_index(drop = True) 
occurrence_to_subj = pd.concat([pd.DataFrame({'Occurrence_Code':[0],'Subj_Code':[0],'len':[1]}), occurrence_to_subj]).reset_index(drop = True)


buffer = data_event.drop_duplicates(["Occurrence_Code", "Subj_Code"])
subj_to_occurrence = buffer.groupby(['Subj_Code'])['Occurrence_Code'].agg(lambda x: x.tolist()).reset_index()
subj_to_occurrence['len'] = [len(x) for x in subj_to_occurrence['Occurrence_Code']]
subj_to_occurrence = pd.concat([pd.DataFrame({'Subj_Code':[1],'Occurrence_Code':[1],'len':[1]}), subj_to_occurrence]).reset_index(drop = True) 
subj_to_occurrence = pd.concat([pd.DataFrame({'Subj_Code':[0],'Occurrence_Code':[0],'len':[1]}), subj_to_occurrence]).reset_index(drop = True)


buffer = data_event.drop_duplicates(["Phase_of_Flight", "Occurrence_Code"])
phase_to_occurrence = buffer.groupby(['Phase_of_Flight'])['Occurrence_Code'].agg(lambda x: x.tolist()).reset_index()
phase_to_occurrence['len'] = [len(x) for x in phase_to_occurrence['Occurrence_Code']]
phase_to_occurrence = pd.concat([pd.DataFrame({'Phase_of_Flight':[1],'Occurrence_Code':[1],'len':[1]}), phase_to_occurrence]).reset_index(drop = True) 
phase_to_occurrence = pd.concat([pd.DataFrame({'Phase_of_Flight':[0],'Occurrence_Code':[0],'len':[1]}), phase_to_occurrence]).reset_index(drop = True)


buffer = data_event.drop_duplicates(["Phase_of_Flight", "Occurrence_Code"])
occurrence_to_phase = buffer.groupby(['Occurrence_Code'])['Phase_of_Flight'].agg(lambda x: x.tolist()).reset_index()
occurrence_to_phase['len'] = [len(x) for x in occurrence_to_phase['Phase_of_Flight']]
occurrence_to_phase = pd.concat([pd.DataFrame({'Occurrence_Code':[1],'Phase_of_Flight':[1],'len':[1]}), occurrence_to_phase]).reset_index(drop = True) 
occurrence_to_phase = pd.concat([pd.DataFrame({'Occurrence_Code':[0],'Phase_of_Flight':[0],'len':[1]}), occurrence_to_phase]).reset_index(drop = True)

In [11]:
data_group.to_pickle("data/data_group.pkl")
occurrence_to_subj.to_pickle("data/occurrence_to_subj.pkl")
phase_to_occurrence.to_pickle("data/phase_to_occurrence.pkl")
data_event.to_pickle("data/data_event.pkl")
subj_to_occurrence.to_pickle("data/subj_to_occurrence.pkl")
occurrence_to_phase.to_pickle("data/occurrence_to_phase.pkl")
np.save("data/occurrence_code_corpus", np.array(occurrence_code_corpus))
np.save("data/subject_code_corpus", np.array(subject_code_corpus))
np.save("data/phase_code_corpus", np.array(phase_code_corpus))